:root {
    --theme: #000080;
    --purple: green;
    --lpurple: rgb(40, 130, 40);
    --navb : grey;
    --hone: rgb(55, 65, 81); 
    --fixed-btn: rgb(225, 223, 223);
    --white: white;
    --lblue: rgba(242, 246, 246, 0.735);
    --dot: rgb(12, 12, 99);

}

body {
    padding: 4rem 7rem;
    font-family: 'Roboto', sans-serif;
}



/* navigation section  */


nav button  {
    margin-right: 30px;
    border-radius: 6px;
    font-size: 1rem;
    padding: .7rem .5rem;
    border: 1px solid transparent;
    font-weight: 700;
}

nav button:hover {
    opacity: .8;
    padding: .74rem .55rem;
    background-color: var(--lpurple);
}
nav button:active {
    opacity: .8;
    padding: .74rem .55rem;
    background-color: var(--purple);
}


/* navigation buttons  */
.mortgage {
    color: var(--navb);
    background-color: transparent;
}
.purchase {
    color: var(--navb);
    background-color: transparent;
}

    

.closing {
    color: var(--navb);
    background-color: transparent;
}
.land {
    background-color: var(--purple);
    color: white;
}

/* body section  */

#main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 60px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--hone);
}



/* left section of the body  */

/* top left section  */
.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    height: 80px;
}

/* amoubt range input focus  */
.form-control:focus {
    border-color: var(--lpurple);
    box-shadow: 0 0 0 0.2rem  var(--lpurple);
}
.form-select:focus {
    border-color: var(--lpurple);
    box-shadow: 0 0 0 0.2rem  var(--lpurple);
}

.form-control1 {
    color: var(--navb);
    font-size: .8rem;
    font-weight: 700;
    padding: 1.8rem 1rem;
    padding-left: 28px;
    padding-bottom: 17px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(230, 228, 228);
}

.form-control1:hover {
    background-color: whitesmoke;
    color: rgb(208, 205, 205);
}
.form-control1:focus {
    border: 3px solid var(--lpurple);
    outline: none;
    color: var(--navb);
}


.mlabel {
    color: var(--navb); 
    font-size: .9rem;
    font-weight: 700;
    position: relative;
    top: -60px;
    left: 28px;
    cursor:text;
}

.mabel {
    color: var(--navb); 
    font-size: .9rem;
    font-weight: 700;
    position: relative;
    top: -60px;
    left: 20px;
    cursor:text;
}

.locate {
    opacity: .8;
    font-size: .8rem;
}

.mlabela {
    color: var(--navb); 
    font-size: .9rem;
    font-weight: 700;
    position: relative;
    top: -80px;
    left: 29px;
    cursor:text;display: inline;
    display: inline;
}

.dollar {
    font-size: .8rem;
    position: relative;
    top: -65px;
    right: -20px;
    margin: 0px;
    font-weight: 700;
    color: var(--navb);
    height: 4px;
}

#amon:focus {
    border-right: 1px solid transparent;
}
#percent:focus {
    border-left: 1px solid transparent;
}

#amon:focus {
    height: fit-content;
}

.s-grid {
    display: flex;
    justify-content: space-between;
}

.g-pop {
    border-color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
    color:  var(--hone);
    font-weight: 700;
}

.grid-input {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
}


.month {
    position: relative;
    top: -40px;
    right: -60px;
    font-weight: 700;
    color: var(--navb);
}
.year {
    color: var(--navb);
    position: relative;
    top: -40px;
    right: -60px;
    font-weight: 700;
    width: 40px;
    display: inline;
}

#amonr {
    top: -6px;
}

.range {
    accent-color: var(--purple);
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    position: relative;
    top: -65px;
    height: 6px;
    
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 5px;
    /*16x16px adjusted to be same as 14x14px on moz*/
    height: 16px;
    width: 16px;
    border-radius: 5px;
    background: purple;
    border: 1px solid purple;
}

.percent {
    font-size: .8rem;
    position: relative;
    top: -65px;
    right: -20px;
    margin: 0px;
    font-weight: 700;
    color: var(--navb);
}

#mrate {
    font-size: .8rem;
    position: relative;
    top: -63px;
    /* right: -20px; */
    margin: 0px;
    font-weight: 700;
    color: var(--navb);
}

.mselect {
    border-radius: 10px;
    color: var(--navb);
    outline: none;
    padding: .7rem .4rem;
    height: 30px;
    font-weight: 700;
}

.dotted-line {
    border-top: 3px dotted var(--navb);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* second row of left side  */
.ratet {
    color: var(--hone);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;

}
.fa-solid {
    color: var(--purple);
    margin-right: 20px;
}

.lparagraph {
    color: rgb(182, 181, 181);
    font-size: .8rem;
    font-weight: 100;
}

.rfixed {
    background-color: var(--fixed-btn);
    border-radius: 10px;
    font-size: .7rem;
    padding: .2rem .7rem;
    border: 1px solid transparent;
    color: var(--purple);
    font-weight: 700;
}
.rvar {
    background-color: var(--purple);
    border-radius: 7px;
    font-size: .7rem;
    padding: .2rem .7rem;
    border: 1px solid transparent;
    color: var(--white);
    font-weight: 700;
}

.rbtn-layout {
    position: relative;
    top: -120px;
    left: 60%;
}

#rside {
    margin-bottom: 50px;
}

.p-paidd {
    font-size: .6rem;
    color: rgb(55, 65, 81);
}

/* right side of mortage calculator  */
#main-right {
    border-top: 3px solid var(--purple);
    border-radius: 10px;
    box-shadow:  5px 5px  rgb(210, 210, 210);
    border-left: 1px solid rgb(240, 238, 238);
    border-right: 1px solid rgb(240, 238, 238);
    border-bottom: 1px solid rgb(240, 238, 238);
    height: 100%;
    
}

#fa-globe {
    text-align: right;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.r-frow {
    background-color: var(--lblue);
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

.r-frow h2 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    /* color: black; */
}

#tilt {
    position: relative;
    top: -15px;
    font-weight: bold;
    /* color: red; */
}

.mpay {
    color: var(--navb);
    font-weight: bold;
}

.form-floatin {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#mpercent {
    height: 63px;
    border-radius:  0px 10px 10px 0px;
}

#float {
    border-radius: 10px 0px 0px 10px;
}

.opt {
    font-size:1rem;
    font-weight: 700;
}

.ptt {
    background-color: var(--lblue);
    width: 68%;
    margin-top: 20px;
    height: 35px;
}

.ptt-btn {
    font-size: .7rem;
    background-color: var(--lblue);
    border: 1px solid transparent;
    padding: 1rem;
    margin: 0px;
    border-radius: 5px;
    color: var(--navb);
    height: 35px;
    
    
}

.ptt-b {
    border-top: 1px solid var(--navb);
    border-left: 1px solid var(--navb);   
    border-right: 1px solid var(--navb); 
    background-color: white;
}


.r-srow {
    background-color: white;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.r-srow .dotted-line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.r-h2 {

    color: var(--hone);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.b-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 20px;
}

.b-row p {
    font-size: .9rem;
    color: var(--navb);
}

.b-row span {
    font-size: .9rem;
    font-weight: 700;
    color: var(--navb);
}

.dot {
    color: white;
    /* font-size: 3rem; */
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}



.container-g {
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 50px;
    
}